<div style="width:600px; margin: 0; padding: 0 0 20px; font-family: 'Open Sans', sans-serif; box-sizing: border-box; font-size: 17px; vertical-align: top;">
    <img src="http://loan35.com/img/loan-35-logo-orange.png" style="float:left; height:50px; width: 50px; margin-right: 5px;">

    <h3 style="margin: 0; padding: 0 0 0px; font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 20px; vertical-align: top;">Dear Loanratus Team,</h3> <br>
    <p><strong>Fullname: </strong>{{fullname}}</p>
    <p><strong>Email: </strong>{{email}}</p>
    <p><strong>Subject: </strong>{{subject}}</p>
    <p><strong>Message: </strong>{{message}}</p>
    <p><strong>Date: </strong>{{date}}</p>
    <p>Kindly address as soon as possible.</p>
    <p>_____________________________________________</p>
    <br><br>
    <p>Please click on the button below to visit the website </p>
    <a  href="http://loan35.com/" class="btn-primary" style="margin-right: auto; margin-left: auto; padding: 0; font-family: 'open sans', sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; background-color: #348eda; border: solid #348eda; border-width: 10px 20px; line-height: 2; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize;">More info</a>

    <br><br><br>
    <h6>We offer access to quick and easy loan through our simple application process. Whether you are looking to purchase stuff, ease cash flow, or something else, we have a highly competitive loan offer for you.</h6>
    <h4>Copyright © 2018 | Loanratus Technologies</h4>
</div>
